include ../mixins/sub-menu.pug

header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.jpg", alt="Logo")
            .col-5
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="d-flex align-items-center justify-content-end")
                        input(
                            type="text"
                            placeholder="Nhập từ khoá..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Search

            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li.sub-menu
                            - const productPath = '/product'
                            a(href=productPath) Sản phẩm
                            if (categoryTree)
                                    +sub-menu(categoryTree, productPath)
