extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/table-tree.pug

block main
    h1(class="mb-4") Danh mục sản phẩm

    .card.mb-3 
        .card-header Danh sách
        .card-body
            .row 
                .col-9
                .col-3.d-flex.justify-content-end
                    a(
                        href=`/${prefixAdmin}/product-category/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới
            .row
                table(
                    class="table table-hover table-sm"
                )
                    thead
                        tr(class="mid-pos")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái
                            th Hành động

                    tbody
                        if (categoryTree.length)
                            +table-tree(categoryTree)
                        else 
                            tr 
                                td(
                                    colspan="8"
                                ) 
                                    div(
                                        class="text-center"
                                    ) Không tìm thấy sản phẩm nào

                form(
                    id='form-change-status',
                    method='POST',
                    action='',
                    data-path=`/${prefixAdmin}/products-category/change-status`
                )

                form(
                    id='form-delete-item',
                    method='POST',
                    action='',
                    data-path=`/${prefixAdmin}/products-category/delete`
                )
