extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row 
            .col-12
                +box-head('Chat')

        .row
            .col-12
                .chat(my-id=user.id) 
                    .inner-body 
                        each chat in chats
                            if (chat.user_id === user.id)
                                .inner-outgoing
                                    .inner-content 
                                        | #{chat.content}
                            else 
                                .inner-incoming
                                    .inner-name #{chat.userInfo.fullName} 
                                    .inner-content 
                                        | #{chat.content}
                    .inner-foot 
                        form(
                            class='inner-form'
                            action=''
                            form-send-chat
                        )
                            input(
                                type='text'
                                placeholder='Type chat content...'
                                name='content'
                                autocomplete='off'
                            )
                            span.ms-3.toggle-emoji
                                i(style='font-size: 26px;').fa-solid.fa-face-smile
                            div(class="tooltip" role="tooltip")
                                emoji-picker
                            button
                                i(style='font-size: 26px;').fa-solid.fa-paper-plane
