extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    +alert-success(3000)

    .container.my-5
        .row.justify-content-center
            .col-4
                .card 
                    .card-header 
                        h3 Tìm tài khoản của bạn
                    .card-body 
                        form(
                            action='/user/password/forgot'
                            method='POST'
                        )

                            div(class='mb-3')
                                label(for='email' class="form-label") Vui lòng nhập email để tìm kiếm tài khoản của bạn.
                                input(
                                    type='email'
                                    class='form-control'
                                    id='email'
                                    name='email'
                                    placeholder="example@gmail.com"
                                    required
                                )

                            div(class='mt-3 text-end')
                                button(
                                    type='submit'
                                    class='btn btn-primary btn-block'
                                ) Tìm kiếm và gửi mã xác nhận
