extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    +alert-success(3000)

    .container.my-5
        .row.justify-content-center
            .col-4
                h1(class='text-center') Đăng nhập
                form(
                    action='/user/login'
                    method='POST'
                )

                    div(class='mb-3')
                        label(for='email') Email
                        input(
                            type='email'
                            class='form-control'
                            id='email'
                            name='email'
                            value=email
                            required
                        )
                    div(class='mb-1')
                        label(for='password') Password
                        input(
                            type='password'
                            class='form-control'
                            id='password'
                            name='password'
                            required
                        )
                    .text-end    
                        a(href="/user/password/forgot" class="text-end text-primary") Quên mật khẩu?
                    div(class='mt-3')
                        button(
                            type='submit'
                            class='btn btn-primary btn-block'
                        ) Đăng nhập
