extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    +alert-success(3000)

    .container.my-5
        .row.justify-content-center
            .col-4
                .card 
                    .card-header 
                        h3 Đổi mật khẩu
                    .card-body 
                        form(
                            action='/user/password/reset'
                            method='POST'
                        )

                            div(class='mb-3')
                                label(for='email' class="form-label") Email
                                input(
                                    type='email'
                                    class='form-control'
                                    id='email'
                                    name='email'
                                    value=email 
                                    readonly
                                )
                            div(class='mb-3')
                                label(for='password' class="form-label") Mật khẩu mới
                                input(
                                    type='password'
                                    class='form-control'
                                    id='password'
                                    name='password'
                                    required
                                )
                            div(class='mb-3')
                                label(for='confirmPassword' class="form-label") Xác nhận mật khẩu
                                input(
                                    type='password'
                                    class='form-control'
                                    id='confirmPassword'
                                    name='confirmPassword'
                                    required
                                )
                            div(class='mt-3 text-end')
                                button(
                                    type='submit'
                                    class='btn btn-primary btn-block'
                                ) Xác nhận
